.bg-nav{   
    background-color: #2c3e50 ;
    height: 40px;
}


.bg-green{
    background-color: #18bc9c;
}

[class*="box-"]{
    border-radius: 10px;
    height: 250px;
}

.bg-footer{
    background-color: #3a546d;
}

.bg-copy{
    background-color: #2c3e50;
}

.box-1{
    background-color: #ba4b63;
}

.box-2{
    background-color: #1fa3b6;
}

.box-3{
    background-color: #140f0f;
}

.box-4{
    background-color: #1d82c1;
}

.box-5{
    background-color: #0f38b5;
}

.box-6{
    background-color: #ccb2a2;
}